<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="RabbitMQHost" value="rabbitmq://localhost/" />
    <add key="RabbitMQUsername" value="guest" />
    <add key="RabbitMQPassword" value="guest" />
    <add key="RabbitMQQueueRequest" value="pricerec-request-consumer" />
    
    <add key="CreateTaskActivityName" value="CreateTaskActivity" />
    <add key="CreateTaskExecuteAddress" value="rabbitmq://localhost/pricerec-execute-activity-createtask" />
    
    <add key="IdentifyProductsActivityName" value="IdentifyProductsActivity" />
    <add key="IdentifyProductsExecuteAddress" value="rabbitmq://localhost/pricerec-execute-activity-identifyproducts" />
    
    <add key="SendToExternalActivityName" value="SendToExternalActivity" />
    <add key="SendToExternalExecuteAddress" value="rabbitmq://localhost/pricerec-execute-activity-sendtoexternal" />
  </appSettings>
</configuration>